body {
  background-color: pink;
}

.create-bill-form {
  display: flex;
  justify-content: space-around;
}

.create-bill-header {
  text-align: center;
}

.inputs-container,
.item-list-container,
.cost-total {
  background-color: white;
  margin: 20px;
  padding: 15px;
}
